@model PaginationItemsVM
@if (Model.PageCount != 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.ActivePage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-route-take="@Model.Take" asp-route-page="@(Model.ActivePage - 1)">Previous</a>
                </li>
            }
            <li class="page-item @(1 == Model.ActivePage ? "active" : "")">
                <a class="page-link" asp-route-take="@Model.Take" asp-route-page="1">1</a>
            </li>
            @if (Model.ActivePage - 1 > 2)
            {
                <li class="page-item">

                    <a class="page-link disabled">...</a>
                </li>
            }
            @for (int i = Math.Max(Model.ActivePage - 3, 2); i <= Math.Min(Model.ActivePage + 3, Model.PageCount - 1); i++)
            {
                <li class="page-item @(i == Model.ActivePage ? "active" : "")">
                    <a class="page-link" asp-route-take="@Model.Take" asp-route-page="@i">@i</a>
                </li>
            }

            @if (Model.ActivePage + 1 < Model.PageCount - 1)
            {
                <li class="page-item">

                    <a class="page-link disabled">...</a>
                </li>
            }
            <li class="page-item @(Model.PageCount == Model.ActivePage ? "active" : "")">
                <a class="page-link" asp-route-take="@Model.Take" asp-route-page="@Model.PageCount">@Model.PageCount</a>
            </li>
            @if (Model.ActivePage < Model.PageCount)
            {
                <li class="page-item">
                    <a class="page-link" asp-route-take="@Model.Take" asp-route-page="@(Model.ActivePage + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
}